:root{
    --grid-cols: 1;
    --grid-rows: 1;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

h1{
    align-self: center;
    margin: 0 auto auto auto;
}

#sketchpad{
    width: 85%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#container{
    display: grid;
    /*grid-row-gap: 2px;
    grid-column-gap: 2px;*/
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height: auto;
    width: auto;
    align-self: auto;
    justify-self: center;
    justify-content: center;
    align-content: center;
    border: 5px solid red;
    padding: 0;
    margin-top: 20px;
    border-radius: 10px;
}

.cell{
    border: 1px solid gray;
    /*min-width: 35px;
    min-height: 35px;*/
    display: inline-block;
    margin: auto;
    justify-self: center;
    align-self: center;
    padding: 1em;
    border: 1px solid black;
}

.gridRow{
}

.container{

}

#tools{
    display: grid;
    grid-template:
        1fr 1fr 1fr 1fr
        2fr 2fr;
    align-content: center;
    align-self: center;
    width: 100%;
}

button{
    margin: 5px;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    display: inline-block;
    background-color: white;
    justify-self: center;
}

#clear{
    width: 50%;
    grid-area: 1/4/2/5;
}

#toBlack{
    grid-area: 1/1/2/2;
    width: 50%;
}

#colorful{
    grid-area: 1/3/2/4;
    width: 50%;
}

#darken{
    grid-area: 1/2/2/3;
    width: 50%;
}

#grid-size{
    font-size: 18px;
    justify-self: center;
    grid-area: 2/3/3/5;
}

#sizeLabel{
    grid-area: 2/2/3/3;
}

/* Style for sizebar, if used */
/*#sizeBar{
    width: 85%;
    height: 20px;
    border: 2px solid black;
    grid-area: 2/1/3/5;
    margin: 25px auto auto auto;
    padding: 0;
    justify-self: center;
    align-self: center;
    text-justify: center;
    text-align: center;
}*/

#sizeLabel{
    grid-area: 2/1/3/2;
    align-self: center;
    justify-self: center;
    margin: 25px auto auto auto;
}